<footer> 
	<div>
		<b>TestGuru Project</b> - Приложение предназначенное для создания, управления и выполнения различных тестов в IT сфере. <%= github_url("RomanDG", "TestGuru") %>
	</div>
	<div>
		<%= current_year %> - Dologopolov Roman - <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank" %>
	</div>
</footer>