<footer> 
	<div>
		<b>TestGuru Project</b> - Приложение предназначенное для создания, управления и выполнения различных тестов в IT сфере. <%= link_to 'Проект на github', github_url("RomanDG", "TestGuru"), target: "_blank" %>
	</div>
	<div>
		<%= Time.now.year %> - Dologopolov Roman - <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: "_blank" %>
	</div>
</footer>